[flake8]
ignore =
	C901 # too complex methods
max-line-length = 120
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
import-order-style = pycharm
application-import-names =
    bio2bel_kegg
    bio2bel_hgnc
    bio2bel
	compath_utils
    pybel
    tests
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
