[flake8]
ignore =
	E501
	I100  # Import statements are in the wrong order
	I101  # Imported names are in the wrong order
	F405 # Stars import
	F403 # imports not used in init
	F401 # imports not used in init
	I201
	I202
	D999
	E126
C901 # too complex methods
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
import-order-style = pycharm
application-import-names =
    bio2bel_kegg
    bio2bel_hgnc
    bio2bel
    pybel
    tests
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
